<div id="dark-wall"></div>
<div id='maincontainer'>
<div id="doc-scroll-list"></div>
	{{> docbar}}
	<content id="doc-view-area">
		<h2>Здравствуйте!		</h2>
		<h2>| </h2>
		<h2>Вы находитесь на сайте для просмотра графических, pdf- и word- документов</h2>
		<h2>|</h2>
		<h2>Здесь могла быть ваша реклама ;-)</h2>
		<h2>|</h2>
		<h2>Пожалуйста, выберите документ для просмотра из меню слева</h2>
		<h2>|</h2>
		<h2>Не забудте перед запуском приложения создать БД при помощи initialize.sql, </h2>
		<h2>а также проверить конфигурацию в файле model/mySQLModel.js</h2>
	</content>
</div>

<link rel="stylesheet" href="/css/infoStyle.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="js/infoAct.js"></script>









































<!-- <iframe src="https://docs.google.com/gview?url=http://remote.url.tld/path/to/document.doc&embedded=true" width='620px' height='877px'></iframe> -->

	<!-- <embed src="https://docs.google.com/file/d/0B9PHCu09NNa0VWl2cTlHbUV0M1k/preview" width="640" height="480"></embed> -->

	<!-- <embed src='https://view.officeapps.live.com/op/embed.aspx?src=https://psv4.userapi.com/c237131/u90309492/docs/d29/ee8e275c9bf8/Biznes.docx?extra=OHVL5HWc7Wd5GC9T6EU_t6khJIRa1hZMXlQ35niuDnf8kGwP64V82akALoN-Fqg0WRJqh96InIJwDzm7798reOmXskNHnaNpxs-eaQf6OWJGYjC0f14VemPP3jmTCrbQCeVHVyeer-HHPcwqckPm' width='620px' height='877px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</embed> -->