.clr0 { color: #F5E256 }	/* Манго */
.clr1 { color: #9E8D12 }
.clr2 { color: #D8BF00 }
.clr3 { color: #FBF6D0 }
.clr4 { color: #A7A176 }

.clr1-0 { color: #E4506D }	/* Шлепок */
.clr1-1 { color: #93102A }
.clr1-2 { color: #C90028 }
.clr1-3 { color: #EAC1C9 }
.clr1-4 { color: #9B6E77 }

.clr2-0 { color: #349591 }	/* Изумруд */
.clr2-1 { color: #0B605D }
.clr2-2 { color: #00837E }
.clr2-3 { color: #7E9897 }
.clr2-4 { color: #486564 }


			header {
                background: #F5E256;
                position: fixed;
                top: 0;
                width: 100%;
                height: 3rem;
                z-index: 4;
            }

            #nav-controls {
                margin: 0 auto;
                width: 80%;
                height: inherit;
                position: relative;
            }

            #nav-menu-list {
                list-style-type: none;
                vertical-align:middle;
                margin: 0 10px;
            }

            #nav-menu-list li {
                display: inline-block;
                line-height: 3rem;
                margin-right: 10px;
            }

            #nav-private-controls-list {
                list-style-type: none;
                display: block;
                float: right;
                vertical-align:middle;
                margin: 0 10px;
            }

            #nav-private-controls-list li {
                display: inline-block;
                line-height: 3rem;
                margin-left: 10px;
            }

            .nav-button {
                color: #0B605D;
                background: #FBF6D0;
                border-bottom: 3px solid darkgray;
                padding: 0.75rem;
                text-decoration: none;
                font-size: 14pt;
                font-weight: bold;
            }

            .active .nav-button{
                color: deeppink;
            }